<!DOCTYPE html>
<html>
<head>
  <title>RentalSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--Bootstrap Header-->
<%= render partial: "layouts/navigation" %>
<br><br>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<section>
<%= yield %>
</section>
<%= render partial: "layouts/footer" %>

</body>
</html>